* {
  font-size: 20px;
}

.body {
  display: flex;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 0px 10px 10px 10px;
  background-color: #f1efef;
}

label {
  margin-top: 15px;
  font-weight: 500;
}

.templateCategory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 0.5rem;
  grid-row-gap: 0px;
  flex-wrap: wrap;
}

.background {
  margin-top: 50px;
  position: absolute;
  text-align: center;
  margin-left: 350px;
}
